{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Post</title>
        <link rel="stylesheet" href="{% static 'blog-post.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'posts_list' %}">Back to Home</a>
            </nav>
        </header>
        <main>
            <h2 class="has-pink-background">Submit a blog post</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Submit</button>
            </form>
        </main>
    </body>
</html>