{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Post</title>
        <link rel="stylesheet" href="{% static 'blog-post.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'create_posts' %}">Create a Post</a>
            </nav>
        </header>
        <main>
            <h1 class="has-pink-background">BLOG POSTS</h1>
            {% for post in posts %}
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
            {% empty %}
                <p>You have no posts in the database</p>
            {% endfor %}
        </main>
    </body>
</html>